<div class="container-fluid bg-primary">
    <div class="row">
        <div class="col col-6">
            <div class="jumbotron jumbotron-fluid">
                <div class="container">
                  <h5 class="display-4">Momotidae</h5>
                  <p class="lead">
                    Un proyecto de impacto social de verdad en tiempo de cambio.
                  </p>
                </div>
              </div>
        </div>

        <div class="col col-6">
            <br>
            <h4>Áreas de interés</h4>
            <ul class="nav flex-column">
                <li class="nav-item">
                  <a class="nav-link active text-dark" href="#">Iniciativas</a>
                </li>
                <li class="nav-item ">
                  <a class="nav-link text-dark" href="#">Comunidad</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link text-dark" href="#">Colaborar a la causa</a>
                </li>
              </ul>
        </div>
    </div>
</div>
